# user
**/*u1gwg*
**/*.bin

# temp/cache
**/tmp*.*
**/__pycache__/
**/__MACOSX/
**/build/
**/dist/
**/test/
**/Untitled*.ipynb
**/.ipynb_checkpoints/
**/.vscode/
**/*.log

**/*config.py

# media
**/*.mpg
**/*.mp3
# **/*.mp4

# data
**/.~lock.*
**/*.dat
**/*.zip
**/*.db
**/*.duckdb*
**/*.sqlite
**/*.parquet
**/GScholar_*.json
**/*.csv
**/*.gz
**/metastore_db/
**/data/
**/spark-warehouse/
**/*.json
**/database.ini
**/db_params.ipynb

# config
**/configuration.py
**/config-*.py

# databrick
lesson-14.4-pyspark/databrick-cert/csv/
lesson-14.4-pyspark/databrick-cert/emp_dept1/
lesson-14.4-pyspark/databrick-cert/emp_dept2/
lesson-14.4-pyspark/databrick-cert/txt_csv/
lesson-14.4-pyspark/databrick-cert/txt_csv/
lesson-14.4-pyspark/spark-guide/notebook/bar.parquet/
lesson-14.4-pyspark/spark-guide/notebook/kdf.csv/
lesson-14.4-pyspark/spark-guide/notebook/zoo.orc/
