**/__pycache__
**/__MACOSX/
**/.ipynb_checkpoints/
**/.ipynb_checkpoints/*.ipynb
**/.vscode/
**/*.dat
**/*.log
**/*.mpg
**/*.mp3
**/*.mp4
**/*.zip
**/*.gz
**/*.db
**/Untitled.ipynb
**/metastore_db/
**/data/
**/spark-warehouse/
**/*.json
**/configuration.py
**/config-*.py
**/db_params.ipynb
