# requirements file
# note which revision of python, for example 3.9.6
# in this file, insert all the pip install needs, include revision
python-dotenv
# python==3.10.13
ag2==0.2.25
chess==1.10.0
matplotlib
numpy
pandas
yfinance