## check https://github.com/vanna-ai/vanna/blob/main/pyproject.toml
## for any missing pkg
streamlit-aggrid
lxml
streamlit_option_menu
jsonlines
notebook
ollama
# vanna
# use wgong/ssadata (install from git source) v0.7.5
# uncomment before to install from source remotely
# git+https://github.com/wgong/ssadata.git
streamlit
streamlit_code_editor
python-dotenv
google-generativeai
google-cloud-aiplatform
chromadb
openai
mistralai
anthropic
google-generativeai
boto3
openpyxl>=3.1.0
