## check https://github.com/vanna-ai/vanna/blob/main/pyproject.toml

#==================================================================
# ssadata is forked from source vanna (https://github.com/vanna-ai/vanna) 
# version 0.7.5 as of 2024-12-03
# 
# uncomment below to install from github
#==================================================================
# git+https://github.com/digital-duck/ssadata.git

# uncomment below to install from local clone
#==================================================================
# mkdir digital-duck
# cd digital-duck
# git clone https://github.com/digital-duck/ssadata.git
# cd ssadata
# pip install -e .                      # to verify: pip show vanna
#==================================================================

python-dotenv

#==================================================================
# Streamlit
#==================================================================
streamlit
streamlit_code_editor
streamlit_option_menu
streamlit-aggrid

#==================================================================
# VectorDB/LLM
#==================================================================
chromadb

ollama
google-generativeai
google-cloud-aiplatform
openai
mistralai
anthropic
google-generativeai
boto3  # required for AWS Bedrock

# Misc
openpyxl>=3.1.0
lxml
jsonlines
notebook
xlsxwriter  # used to combine CSV into one .xlsx

