<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
  <style type="text/css">
    h1, h2, h3 {
      line-height: 1.2;
    }
    body {
      margin: 40px auto;
      max-width: 1000px;
      line-height: 1.6;
      font-size: 18px;
      color: #444;
      padding: 0 10px;
    }
  </style>
</head>
<body>
<form method="POST">
    <h1>Login</h1>
    <p>
      <input name="username" placeholder="Enter username"></input>
    </p>
    <p>
      <input type="password" name="password" placeholder="Enter password"></input>
    </p>
    <button type="submit">Submit</button>
</form>
</body>
</html>

